html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}
body{
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mainHeading{
    color: white;
    letter-spacing: 6px;
    text-transform: uppercase;
}
.mainContainer{
    background-color: #3b3b3b30;
    padding: 1em;
    border-radius: 16px;
}
#inputField{
    background-color: #ffffff94;
    box-sizing: border-box;
    border-radius: 2rem;
    padding-right: 1.6rem;
    border: none;
    height: 3rem;
    text-align: right;
    font-size: 1.2rem;
}
.mainContainer label{
    text-align: right;
    width: 100%;
    padding: 0rem 1.6rem 0.4rem 0rem;
    max-width: 15rem;
    max-height: 9ch;
}
.row{
    display: flex;
    overflow: hidden;
    justify-content: center;
}
button.cell{
    margin: 0.5rem;
    /* padding: 15px; */
    border:none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
}
button.cell:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.mainContainer input:focus, .cell{
    /* border:none; */
    outline: none;
}
.instructions{
    position: absolute;
    top: 6.5vh;
    right: -10em;
    height: 26em;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 25px;
    width: 10em;
}
.instructions button.instructionHeading{
    color: white;
    font-size: 24px;
    position: absolute;
    background-color: transparent;
    width: 2ch;
    top: 3em;
    outline: none;  
    border: none;
    text-align: center;
}
.instructions .instructionsContent{
    margin-left: 3ch;
}

@media only screen and (max-width: 700px) {
    .instructions{
        display: none;
    }
}